.header {
   max-width: 1200px;
   min-height: 100vh;
   border: 1px solid black;
}

.content {
   display: flex;
   justify-content: center;
   background-color: blueviolet;
   flex-wrap: wrap;
}

.item {
   width: 32.15vw;
   height: 50vh;
   border: 1px solid black;

   box-sizing: border-box;
}